div#graphcontainer
    select(size=1).picker
        option(value=-1) Choose
        each app in apps
            option= app.name
    select(size=1).picker
        option(value=-1) Choose
        each platform in platforms
            option= platform.name