select(size=1).picker#gapppicker
    option(value=-1) All
    each app in apps
        option= app.name
select(size=1).picker#gplatformpicker
    option(value=-1) All
    each platform in platforms
        option= platform.name
div#installschart
div#launcheschart
div#appinstchart
div#platinstchart
div#applaunchart
div#platlaunchart