select(size=1)#picker
    each game in games
        option= game
div#userlist
    div.idhead Place
    div.namehead Name
    div.scorehead Score
    div#clear
    each user in users
        div.user
            div.id= user.id
            div.name= user.name
            div.score asd
            div#clear