!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/scripts/jquery.min.js');
    script(type='text/javascript', src='/scripts/index.js');
    script(type='text/javascript', src='https://www.google.com/jsapi');
  body
    include logo
    div#container
        #menu
            ul
              li.first
                a(href='/') rating
              li
                a(href='/graphs') graphics
              li.last
                a(href='/stats') statistics
            #clear
        #content!= body
    include footer