!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include logo
    div#container
        #menu
            ul
                each item in menu
                    li
                        a(href='/#{item}')= item
            #clear
        #content!= body
    include footer