!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include logo
    div#container
        #menu
            ul
              li.first
                a(href='/') rating
              li
                a(href='/graphs') graphics
              li.last
                a(href='/stats') statistics
            #clear
        #content!= body
    include footer