div.statscontainer
    div.title Total players
    div.number#playerscount=players_c
    div#clear
    div.title Total apps
    div.number#appscount=apps_c
    div#clear
    div.title Total installations
    div.number#installcount=install_c
    div#clear
    div.title Total plays
    div.number#playscount=plays_c
    div#clear
