logoColor = #383838
descrColor = #898989
footerColor = #999999
mainColor = #7ca5d1
secondColor = #86D17C
backgroundColor = #fcfcfc

html, body, p, div, h1. h2, h3, span
    margin: 0px
    padding: 0px


body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


#clear
    clear: left

#head
    text-align: center
    margin-bottom: 30px

#logo
    color: logoColor
    font: 50px sans-serif, Helvetica, Arial
    margin-top: 60px
    letter-spacing: 0.3em

#logo:first-letter
    color: mainColor

#logo:hover:first-letter
    color: secondColor

#descr
    color: descrColor
    font: 15px sams-serif
    margin-left: -5px

#container
    width: 860px
    height: auto
    background: backgroundColor
    margin: 5px auto
    padding: 5px
    text-align: center
    border-radius: 10px

#container .picker
    margin: 15px
    width: 240px
    height: 34px
    overflow: hidden
    background: #ddd;
    border: 1px solid #ccc
    font-size: 24px
    color: descrColor

#menu
    width: 100%
    margin-left: 200px
    margin-bottom: 10px
    
#menu ul
    margin: 0px
    padding: 0px
  
#menu ul li
    list-style: none
    text-align: center
    
#menu ul li a
    text-decoration: none
    color: logoColor
    font-size: 20px
    width: 100px
    float: left
    background-color: mainColor
    padding: 10px 15px
    margin: 10px
    font-variant: small-caps
    border-radius: 10px

#userlist
    width:80%
    padding-left: 90px
    margin-top: 15px
    text-align:center;

#userlist .idhead
    float: left
    width: 20%
#userlist .namehead
    float: left
    width: 60%
#userlist .scorehead
    float: left
    width: 20%    


.user
    margin: 0px
    padding: 0px

.user .id
    float: left
    width: 20%
.user .name
    float: left
    width: 60%

.user .score
    float: left
    width: 20%

#footer
    text-align: center
    color: footerColor
    font: 12px "Courier New"

.statscontainer
    width: 60%
    padding: 15px
    background: mainColor
    padding-left: 40px
    border-radius: 10px
    padding-top: 28px
    margin-left: 140px
    text-align: left
    opacity: 0

.statscontainer .title
    float: left
    color: backgroundColor
    margin-bottom: 15px
    width: 300px
    font-variant: small-caps
    font-size: 18px

.statscontainer .number
    color: logoColor
    font-variant: small-caps
    font-size: 18px
    font-family: "Courier New"    