html,
body,
p,
div,
h1. h2,
h3,
span {
  margin: 0px;
  padding: 0px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#head {
  text-align: center;
}
#logo {
  color: #383838;
  font: 50px "Lucida Grande", Helvetica, Arial;
  margin-top: 60px;
}
#descr {
  color: #898989;
  font: 15px sams-serif;
}
