logoColor = #383838
descrColor = #898989

html, body, p, div, h1. h2, h3, span
    margin: 0px
    padding: 0px


body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


#head
    text-align: center

#logo
    color: logoColor
    font: 50px "Lucida Grande", Helvetica, Arial
    margin-top: 60px

#descr
    color: descrColor
    font: 15px sams-serif